In [1]:
import plotly
import pandas as pd
import numpy as np
from collections import Counter
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)
df=pd.read_csv('et.csv',encoding='iso-8859-13')
titles=(df.Category)
titles
val=list(titles.values)
val=[i.split(",", 1)[0] for i in val]
M=Counter(val)
m_df=pd.DataFrame({'table':M})
m_df

                   table
['Budget 2018'         1
['Default Subsec'      1
['Industry'         1331
['Jobs']              38
['MF'                188
['Magazines'         937
['Markets'          2279
['NRI'                24
['News'             6040
['Opinion'            16
['RISE'              328
['Tech'              182
['Wealth'            206
[]                    15

In [6]:
lab=m_df.index
val=list(m_df.values)
nval=list()
for i in val:
    for j in i:
        nval.append(j)
new_df=pd.DataFrame(index=lab,data=nval)
print(m_df)
val=new_df.values
s=sum(val)
type(val)

                   table
['Budget 2018'         1
['Default Subsec'      1
['Industry'         1331
['Jobs']              38
['MF'                188
['Magazines'         937
['Markets'          2279
['NRI'                24
['News'             6040
['Opinion'            16
['RISE'              328
['Tech'              182
['Wealth'            206
[]                    15

numpy.ndarray

In [7]:
trace=go.Pie(labels=lab,values=val)
plotly.offline.iplot([trace])