In [3]:
import plotly
import pandas as pd
from collections import Counter
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)
df=pd.read_csv('et.csv',encoding='iso-8859-13')
titles=(df.Category)
titles
val=list(titles.values)
val=[i.split(",", 1)[0] for i in val]
M=Counter(val)
m_df=pd.DataFrame({'count':M})
m_df.rename(columns={'':'val'})
#trace=go.Pie(labels=labels,values=values)
#plotly.offline.iplot([trace])

                   count
['Budget 2018'         1
['Default Subsec'      1
['Industry'         1331
['Jobs']              38
['MF'                188
['Magazines'         937
['Markets'          2279
['NRI'                24
['News'             6040
['Opinion'            16
['RISE'              328
['Tech'              182
['Wealth'            206
[]                    15